body { box-sizing: border-box;
        margin: 0;
        padding: 0;
}

body * {box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;

}

main {
    height: 1000px;
    width: 100vw;
    background-color: black;
    display: grid;
    grid-template-columns: 13% 67% 20%;
    grid-template-rows: 3% 80% 5% 9% 3%;
}



header {
    background-color: black;
    grid-area: 1 / 1 / 2 / -1;
    display: flex;
    align-items: center;
}

header ul {list-style-type: none;
    display: flex;
    align-items: center;
    width: 40%;
    background-color: black;
}

header a {
    color: white;
    text-decoration: none;
    padding: 100% 15px;
}

header a:hover {background-color: white;
                color: black;

}

.logo {background-color: #333333;


}

.logo:hover {background: gray;
            color: black;

}

aside {
    grid-area: 2 / 1 / -1 / 2;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    width: 100%;
    height: 100%;
    padding: 0;
}


aside a {   color: black;
            text-decoration: none;
            padding: 10px 0 10px 8px;
            font-size: 14px;
            margin: 0;
}


aside a:hover {background-color: black;
                color: white;
                width: 100%;

}
aside h4 {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
}

nav {
    grid-area: 3 / 2 / 4 / -1;
}

article{background-color: white;
        grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 10px;
}

.article-1 {
    grid-area: 1 / 1 / 2 / 2;
}

.article-2 {
    grid-area: 2 / 1 / 3 / 2;
}

.article-bottom {
    grid-area: 3 / 1 / 4 / 2;
}

article h2 {
    margin: 20px 0;
    font-weight: normal;
    color: #449388;
}

section{background-color: white;
        grid-area: 2 / 3 / 3 / 4;
    display: grid;
    grid-template-rows: repeat(3, 1fr);


}

.ad-box-1 {
    background-color: white;
    color: black;
    padding: 20px 10px;
}

.ad-box-2 {
    background-color: white;
    padding: 20px 10px;
}

.ad-box-3 {
    background-color: white;
    padding: 20px 10px;
}

.ad-top {
    background-color: white;
    color: black;
    border: 1px solid lightgray;
    height: 30%;
    width: 100%;
    text-align: center;
    padding-top: 10%
}

.ad-bottom {
            background-color: white;
            border: 1px solid lightgray;
            height: 50%;
            width: 100%;
            padding-top: 17%;
            margin-top: 20px;
            text-align: center;


}

nav {
    background-color: white
}

nav ul{list-style-type: none;
            display: flex;
            justify-content: center;

}


nav a {
    color: black;
    text-decoration: none;
    width: 100%;
    padding: 10px 15px;
}

nav a:hover {
    background-color: black;
            color: white;
}

.one {background-color: black;
        color: white;

}




footer{background-color: rgb(68 68 68);
    grid-area: 4 / 2 / 5 / -1;
    padding-top: 35px;
    font-size: 17px;
    color: white;
    padding-left: 10px;


}

.bottom {background-color:rgb(38 38 38);
    grid-area: 5 / 2 / 6 / -1;

}

.bottom{padding-top: 5px;
    font-size: 12px;
    color: white;
    padding-left: 10px;

}

.w3 {color: white;

}